.row {
    display: flex;
    border: 1px solid black;
    margin-bottom: 5px;
}

.flag {
    width: 128px;
    height: 85px;
    border: 1px solid black;
}

.date {
    flex-grow: 1;
    text-align: center;
    font-size: 50px;
    line-height: 85px;
}

.scheduleRow {
    text-align: center;
    font-size: 75px;
}